div#map_canvas

div#info_hub
  h2.center.shadow Who do you want to visit?
  div#friends-section
    div#tabs
      ul
        li
          a(href="#friends-list") Friends
        li
          a(href="#friends-chat") Trip Log
      div#friends-list
        ul#list
      div#friends-chat
  div#fares-section
    table
      thead
        tr
          th Price
          th From - To
          th Airline
      tbody

script#friend-row-template(type='text/template')
  img.picture(src="{{picture}}", title="{{name}}")
  

script#info-window-template(type='text/template')
  h2.info-header.center.shadow You have {{friend_count}} here!
  button.minimal.button.minimal-mail.right Tell them you want to visit!
  ul
    {{pictures}}
  h2.low-fares.right Get low fares alerts to this location
  div.clear-both
  button.minimal.button.minimal-fares.right Like

script#fares-template(type='text/template')
  td.price {{Price}}
  td {{To}} \- {{From}}
  td 
    a(href="{{Url}}") see fare

script#user-pinned-template(type='text/template')
  div.center
    h2.info-header.shadow {{user.name}}'s log!
    img.picture(src="{{user.picture}}", title="{{user.name}}")
