@import 'nib'


iconic-stroke('iconic')


// colors
light = #a9a9a9
lighter = #eee
blue = #00ABFA
dark = #222

// mixins
smooth()
  -webkit-font-smoothing antialiased

transition()
  -webkit-transition: arguments

body
  font: 14px 'helvetica neue', helvetica, arial, sans-serif
  smooth()

a
  color: #00B7FF
  text-decoration: none
  &:hover
    text-decoration: underline

ul
  list-style: none;

.hide
  display: none


// forms
input[type='text']
  margin: 5px 0
  padding: 8px 10px
  outline: none
  border-radius: 5px
  border: 1px solid lighter
  color: light
  font-size: 16px
  &:focus
    box-shadow: 0 1px 1px 0 rgba(blue, 0.6), 0 0 3px 1px rgba(blue, 0.3)

h1
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.68);
  letter-spacing: -1px;
  margin: 0;

#facebook_login
  display: none

// info hub
#info_hub
  background: #DDD
  width: 300px
  height: 100%
  position: absolute
  right: 0
  top: 0
  opacity: 0.9
  table
    font-size: 11px
    font-family: verdana
    td
      padding: 6px 3px
    .price
      font-weight: bold






// topic form
.topic-box
  width 300px

  .topic-form
    input[type='text']
      width 280px
      color: dark



// chat area
.chat-box
  width 400px
  height 470px
  .messages
    width: 395px
    height: 320px
    border: 1px solid #DDD
    clear: both
    border-radius: 4px
    padding: 0
    overflow-y: auto
    .message
      padding: 4px
      border-bottom: 1px solid lighter
      width: 98%
      float: left
      &:hover
        background: lighter
      .you-say
        padding: 5px
        line-height: 18px



    
.chat-header
  color #000
  font-size 14px
  font-weight bold
  text-shadow 0 1px 0 white
  .topic-title
    float left

.chat-header img,
.chat-input img,
.message img
  float left
  width: 25px
  height: 25px
  padding: 3px
  border: 1px solid #DDD
  margin: 0 10px 10px 0
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
  background: #FFF

.chat-input textarea
  width: 350px;
  float: left;
  border: 1px solid lighter
  border-radius: 4px
  font-size: 16px
  outline: none
  overflow: auto
  resize: none
  color: dark
  font-family: helvetica
  &:focus
    box-shadow: 0 1px 1px 0 rgba(blue, 0.6), 0 0 3px 1px rgba(blue, 0.3)

.chat-input
  button
    float: right
    margin-top: 5px




.minimal
  minimal-button()
  &:before
    color rgba(0,0,0,0.5)
    position relative
    left -13px
    top 2px
    line-height 10px
    content 'j'
    font-family 'IconicStroke'
    font-size 18px
    font-weight normal

.minimal-alternate
  minimal-button(#7fbf4d, text: darken(#7fbf4d, 75%), text-shadow: rgba(white, 0.75))

